// @mixin oShareActionIconMono($name, $color:'white', $bgcolor:'transparent'  ,$bghovercolor: 'transparent', $classname: o-share)
// default - $color: 'white', $bgcolor: $icon, $bghovercolor: transparent;
// group1 - $color: 'white', $bgcolor: 'grey-tint1', $bghovercolor: $name
// group2 - $color: 'white', $bgcolor: 'grey-tint1', $bghovercolor: 'teal-2'
// group3 - $color: 'pink-tint4', $bgcolor: 'transparent', $bghovercolor: 'pink-tint2'

$o-share-themes: (
	teal: (fill: 'white', bg: 'grey-tint1', hover: 'teal-2'),
	tint: (fill: 'pink-tint4', bg: 'transparent', hover: 'pink-tint2'),
);
@function oShareGetColorFor($theme, $property) {
	$props: map-get($o-share-themes, $theme);
	$color: map-get($props, $property);
	@return oColorsGetPaletteColor($color);
}



@function oShareGetIconPalette($group, $name, $icon-palette: $o-share-icon-palette) {
	@return map-get(oShareGetPaletteGroup($group, $icon-palette), $name);
}

@function oShareGetIconColor($group, $name, $icon-palette: $o-share-icon-palette) {
	@return oColorsGetPaletteColor(map-get(oShareGetIconPalette($group, $name, $icon-palette: $o-share-icon-palette), icon-color));
}

@function oShareGetBgColor($group, $name, $icon-palette: $o-share-icon-palette) {
	@return oColorsGetPaletteColor(map-get(oShareGetIconPalette($group, $name, $icon-palette: $o-share-icon-palette), bg-color));
}

@function oShareGetBgHoverColor($group, $name, $icon-palette: $o-share-icon-palette) {
	@return oColorsGetPaletteColor(map-get(oShareGetIconPalette($group, $name, $icon-palette: $o-share-icon-palette), hover-color))
}